/*.scp-quizzes-main{ width:100%; font-family:Verdana, Arial, Helvetica, sans-serif;}	 */
.scp-quizzes-main{ width:100%; font-family:Monaco,Menlo,Consolas,"Courier New",monospace;}	 

.scp-quizzes-data{ 
box-shadow: 0px 1px 3px -1px #DCDCDC;
padding:10px;
margin-top:15px;
}
pre{ border:2px solid #f5f5f5; padding:10px; overflow-x:scroll;}
input[type=radio] {
	display:none; 
}
label {
	font-weight: normal !important;
}
/*label {
  display:inline-block;
	width:95%;
	padding:10px;
	border:1px solid #ddd;
	margin-bottom:10px;
	cursor:pointer;
}*/
input[type=radio] + label:hover{ border:1px solid #000000;}
input[type=radio]:checked + label { 
   background-image: none;
   background-color:#0C0;
	color:#fff;
	border:1px solid #0C0 !important;
	-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.selectedans{ border: 2px dashed black; }
.worngans{ background-color:#F36;color:#fff; border:1px solid #F36 !important;-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;}

.clock {
	position: fixed;
	text-align: center;
	top: 5px;
	right: 20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
	padding: 5px;
	border: dotted;
}

.form-control{
	height: auto !important;
}

.double {
  zoom: 1.2;
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

h4 {
	margin-top: 20px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.row {
  display: table;
}

.row [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: middle;
  padding-left: 0px;
}